form {
  padding: 12px;
  margin-bottom: 32px;
  ion-button {
    margin-top: 30px;
  }
}
p {
  font-size: 0.8em;
  color: #d2d2d2;
}
ion-label {
  margin-left: 5px;
}
ion-input {
  padding: 5px;
}



.mainSlide, .mainSlide ion-slide {
  width: 100%;
  height: 100%;
}

img {
  width: 120px;
}

.pick-avatar {
  width: 80px;
  opacity: 0.3;
}

.pick-avatar-seleccionado {
  transition: opacity 0.5s linear;
  opacity: 1 !important;
}
