<form [formGroup]="authForm">
  <div *ngIf="this.actionButtonText !== 'signup'" >
  <ion-avatar class="user-image" *ngIf="this.actionButtonText !== 'signup'">
      <img src="../../../../assets/avatar.png">
    </ion-avatar>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input formControlName="email" type="email" placeholder="Tu email">
    </ion-input>
  </ion-item>
  <ion-item *ngIf="!isPasswordResetPage">
    <ion-label position="stacked">Password</ion-label>
    <ion-input
      formControlName="password"
      type="password"
      placeholder="Tu password"    >
    </ion-input>
  </ion-item>
  </div>
  <div *ngIf="this.actionButtonText === 'signup'" >
    <ion-item>
      <ion-avatar *ngIf="photo">
        <img [src] = "photo" (click)="userPhoto()">
    </ion-avatar>
    <ion-avatar class="user-image" *ngIf="this.actionButtonText === 'signup' && !photo">
      <img src="../../../../assets/avatar.png" (click)="userPhoto()">
    </ion-avatar>
    </ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input formControlName="name" type="text" placeholder="Tu nombre">
    </ion-input>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Tu email">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="!isPasswordResetPage">
      <ion-label position="stacked">Password</ion-label>
      <ion-input
        formControlName="password"
        type="password"
        placeholder="Tu password"    >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Direccion</ion-label>
      <ion-input formControlName="direccion" type="text" placeholder="Tu direccion">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">C. Postal</ion-label>
      <ion-input formControlName="cp" type="text" placeholder="Tu C.P.">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefono</ion-label>
      <ion-input formControlName="tlf" type="text" placeholder="Tu telefono">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Observaciones</ion-label>
      <ion-input formControlName="obs" type="text" placeholder="Tus observaciones">
      </ion-input>
    </ion-item>
  </div>
  <ion-button (click)="submitCredentials(authForm)" expand="block" [disabled]="!authForm.valid">
    {{ actionButtonText }}
  </ion-button>
</form>
