<ion-item>
  <ion-avatar class="user-image" slot="start" *ngIf="this.photo"> 
    <img [src]="this.photo" (click)="userPhoto()" />
  </ion-avatar>
  <ion-avatar class="user-image" slot="start" *ngIf="!this.photo">
    <img src="../../../../assets/avatar.png" (click)="userPhoto()" />
  </ion-avatar>
  <ion-label position="stacked">Nombre</ion-label>
  <ion-input [(ngModel)]="user.nombre"></ion-input>
  
</ion-item>
<ion-item>
  <ion-label position="stacked">Email</ion-label>
  <ion-input [(ngModel)]="user.email"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Direccion</ion-label>
  <ion-input [(ngModel)]="user.direccion"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">C. Postal</ion-label>
  <ion-input [(ngModel)]="user.cp"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Telefono</ion-label>
  <ion-input [(ngModel)]="user.tlf"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Observaciones</ion-label>
  <ion-input [(ngModel)]="user.obs"></ion-input>
</ion-item>
<div item-end>
  <ion-button (click)="updateUser()" expand="block">Update</ion-button>
</div>
