<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let user of users; index as position" lines="full">
      <ion-row>
        <ion-thumbnail class="user-image">
          <img src="/assets/avatar.png">
        </ion-thumbnail>
      </ion-row>  
  
      <ion-label>
        <strong>{{user.nombre}}</strong>
        <p>{{user.email}}</p>
      </ion-label>

      <div item-end>
        <button [routerLink]="['/signup', user[$key]]">
          <ion-icon name="create" style="zoom:1.5"></ion-icon>
        </button>
        <button (click)="remove([$key])">
          <ion-icon name="trash" style="zoom:1.5"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

</ion-content>