<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let usr of user" lines="full" (click)="openUser(usr)" >
      <ion-avatar item-start> <!-- (click) = 'this.photoService.addNewToGallery()'> -->
          <img src="/assets/avatar.png">
      </ion-avatar>
      <ion-label>
        <strong>{{usr.nombre}}</strong><br>
          {{usr.email}}
      </ion-label> 
<!--      
      <div item-end>
        <button (click)="updateUser(usr)">     
          <ion-icon name="document-sharp" style="zoom:1.5"></ion-icon>
        </button>
        <button (click)="openUser(usr)">
          <ion-icon name="trash-sharp" style="zoom:1.5"></ion-icon>
        </button>
      </div>
-->
    </ion-item>
  </ion-list>

</ion-content>