<app-header title="Mapa">

  <ion-item *ngIf='posLat !== 0'>
   <h3>Lat: {{this.posLat}}       -      Long: {{this.posLong}}  </h3>
   </ion-item>
</app-header>
<ion-item>
  <capacitor-google-maps #map></capacitor-google-maps>
</ion-item>
<div item-end>
  <ion-button size="small" position="stacked" color="primary" (click)="createMap()">
    Visualizar Mapa
  </ion-button>
  <ion-button *ngIf="this.disponible" size="small" position="stacked" colort="secondary" (click)="geoShare()">
    Compartir Ubicacion
  </ion-button>
</div>
